*{
    margin:0;
}

h1{
    font-size: 6em;
    color:deeppink;
    font-family: serif;
    background-color: pink;
    font-style: italic;
    text-align: center;
    margin:50px 0;
}

.inputs{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 50px 0;
}

input{
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    padding: 0;
    font-weight: bold;
    border:red solid 2px;
    color:crimson;
}

.centerdiv{
    text-align: center;
    margin: 30px;

}

.geral{
    height: calc(100vh - 210.4px - 118.4px);
}

footer{
    background-color:deeppink;
    color:aliceblue;
    padding: 50px;

}